In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
titanic = pd.read_excel('datasets/titanic.xls')

In [3]:
titanic.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

# Tri du dataset pour simplifier

In [11]:
titanic.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [28]:
X = titanic[['pclass','sex']]
y = titanic[['survived']]

In [13]:
from sklearn.model_selection import train_test_split

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2)

# Création d'une pipeline (notamment pour la variable sex)

In [37]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import make_pipeline

In [38]:
model = make_pipeline(OneHotEncoder(), KNeighborsClassifier())

# Utilisation d'une Cross Grid Validation pour trouver les meilleurs paramètres

In [21]:
from sklearn.model_selection import GridSearchCV

In [44]:
model.get_params

<bound method Pipeline.get_params of Pipeline(steps=[('onehotencoder', OneHotEncoder()),
                ('kneighborsclassifier', KNeighborsClassifier())])>

In [45]:
params = {'kneighborsclassifier__n_neighbors':np.arange(1,30),
          'kneighborsclassifier__metric' : ['euclidian','manhattan']}

grid = GridSearchCV(model,params)

In [47]:
grid.fit(X_train.toarray, y_train)

TypeError: Singleton array array(<bound method _cs_matrix.toarray of <1047x5 sparse matrix of type '<class 'numpy.float64'>'
	with 2094 stored elements in Compressed Sparse Row format>>, dtype=object) cannot be considered a valid collection.